<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907116057262-q6j1brfvhfkl2le595vtm2203l20dp65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907116057262-q6j1brfvhfkl2le595vtm2203l20dp65</string>
	<key>API_KEY</key>
	<string>AIzaSyAkg4cS-M8ayTZ06hBDdV2Zih1GkNLVOlo</string>
	<key>GCM_SENDER_ID</key>
	<string>907116057262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ahmadaymanmansour.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>chat-app-53a4a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-53a4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907116057262:ios:554e876f0431b0e9c6533f</string>
</dict>
</plist>